.userDashboard {
  width: 100%;
  height: fit-content;
  border: 2px solid;
  display: flex;

  justify-content: center;
}
.profileContainer {
  width: 80%;
  height: 400px;
  border: 2px solid;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px green);
}
