@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}






/* footer section properties */
.footerSection {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCard {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footerOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: fit-content;
  padding: 50px 0 20px 0;
}

.section1,
.section2,
.section3 {
  width: 300px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.section1 img {
  width: 80px;
  height: 80px;
}

.section1Options,
.section2Options,
.section3Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.socialMediaContainer {
  width: 80%;
  height: 100px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Products page properties */
.productsPage {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productCategory {
  margin-top: 140px;
  font-size: 30px;
  font-weight: bold;
}
.productsCardContainer {
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 0 20px 0;
}

