@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}






/* footer section properties */
.footerSection {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCard {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footerOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: fit-content;
  padding: 50px 0 20px 0;
}

.section1,
.section2,
.section3 {
  width: 300px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.section1 img {
  width: 80px;
  height: 80px;
}

.section1Options,
.section2Options,
.section3Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.socialMediaContainer {
  width: 80%;
  height: 100px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Products page properties */
.productsPage {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productCategory {
  margin-top: 140px;
  font-size: 30px;
  font-weight: bold;
}
.productsCardContainer {
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 0 20px 0;
}

/* View product Page */
/* .productPage {
  border: 2px solid;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productImageDetailsContainer {
  border: 2px solid;
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 150px;
  padding-bottom: 50px;
}
.imageContainer {
  border: 2px solid green;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageCard {
  width: 90%;
  height: 90%;
}
.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.productDetailsContainer {
  border: 2px solid green;
  width: 30%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.productDetailsContaner {
  width: 100%;
  height: fit-content;
}
.productDescription {
  border: 2px solid;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productName {
  font-size: 20px;
  font-weight: bold;
}
.productType {
  font-size: 20px;
}

.priceQtySection {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.productPrice {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.productQty {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.purchaseOptionContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.descriptionContainer {
  border: 2px solid;
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefitsContainer {
  border: 2px solid;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.benefitsContainer span {
  font-size: 15px;
  font-weight: bold;
} */
